replicaCount: 1

image:
  repository: sasikanthmasini/ndb-operator-test-1
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "0.5.2"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

resources:
  kubeProxy:
    limits:
      cpu: 500m
      memory: 128Mi
    requests:
      cpu: 5m
      memory: 64Mi
  controller:
    limits:
      cpu: 500m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi

nodeSelector: {}

tolerations: []

affinity: {}